  <script src="app.js"></script>
  </body>
  <footer class="site-footer">

    <div class="container">

      <div>
          <ul class="social__icons">
            <li><a href="https://instagram.com/theoliveandmango"><i class="social__icons--footer fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.pinterest.com/olive_mango/"><i class="social__icons--footer fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="https://facebook.com/oliveandmango"><i class="social__icons--footer fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/oliveandmango"><i class="social__icons--footer fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="mailto:info@oliveandmango.com"><i class="social__icons--footer fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
          <div class="copyright">Copyright &copy; <script type="text/javascript">
          document.write(new Date().getFullYear());</script> Olive &amp; Mango</div>
        </div>
      </div>
  </footer>
</html>
