{{ partial "head" . }}
{{ partial "header" . }}

  <div class="page-content">
    <div class="wrapper">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content" itemprop="articleBody">
          <h1 class="post-title">{{ .Title }}</h1>
          <div class="post-meta">
            <time>{{ .Date.Format "2 Jan, 2006" }}</time>
            <div>{{ if .Params.tags }}
              <i class="fa fa-tags"></i> {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              {{ end }}
            </div>
            <span class="pintrest__button"><a data-pin-do="buttonPin" data-pin-count="beside" data-pin-tall="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a></span>
          </div>

          <div class="post-content" itemprop="articleBody">
            {{ .Content }}
          </div>
        </div>
      </article>
      <!-- show related posts -->
      {{ partial "related" . }}
      {{ partial "disqus" . }}
    </div>
  </div>
{{ partial "footer" . }}
