<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
        <div class="wrapper blog__post__list">
            <h1>Looking for an older post?</h1>

            <!-- <form class="om__search__form" action="/search.html" method="get">
                <label for="search_box">Search</label>
                <input type="text" id="search_box" name="query">
                <input type="submit" value="search">
            </form> -->

            {{ content }}
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
